.cabecalho {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.logo {
    display: flex;
    width: 60%;
    height: 100%;
    margin-left: 5%;
    justify-content: center;
    cursor: pointer;
}

.cabecalho__informacoes__menu {
    margin-right: 3em;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    color: #ffff;
}

.cabecalho__informacoes__menu:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--cor-texto-principal);
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.5s ease-out;
}

.cabecalho__informacoes__menu:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
    font-size: 50px;
}

.cabecalho__botao {
    border: none;
    background-color: var(--cor-principal);
    cursor: pointer;
    border-bottom: 50%;
    font-size: 25px;
    transition: 1 ease-in;
}

/*BARRA PERFIL */

.cabecalho-logado {
    display: flex;

}

.meu-perfil {
    color: #fff;
    margin-right: 3em;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}

.inicio {
    color: #fff;
    margin-right: 3em;
    margin-top: 1%;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}

.cabecalho .cabecalho-logado i {
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.cabecalho .cabecalho-logado a:hover {
    transition: 350ms;
    transform: scale(1.05);
}

.menu-perfil {
    background-color: var(--cor-secundaria);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
    transition: 350ms;
}

.menu-perfil .btn-fechar i {
    cursor: pointer;
    color: #fff;
    font-size: 30px;
}

.menu-perfil .btn-fechar i:hover {
    box-shadow: 0 0 2px #ffffff78;
}

.menu-perfil .btn-fechar {
    padding: 10px 85%;
}

.menu-perfil.abrir-menu {
    width: 30%;
}

.menu-perfil.abrir-menu~.overlay-menu {
    display: block;
}

.menu-perfil nav ul {
    text-align: left;
}

.menu-perfil nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 12%;
    display: block;
    text-decoration: none;
}

.menu-perfil p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 12%;
}

.menu-perfil nav ul li a:hover {
    background-color: var(--cor-principal);
}

.overlay-menu {
    background-color: #00000044;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    display: none;
}

/*CABEÇALHO SECUNDARIO PERFIL*/

.cabecalho-secundario {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.cabecalho-secundario a {
    font-size: 24px;
    padding: 10px 20%;
    color: #fff;
    text-decoration: underline;
}

/*barra lateral perfil*/

.nav-meus-dados {
    width: 400px;
    padding: 60px 8%;
}

nav.nav-meus-dados ul {
    display: inline-block;
    list-style-type: none;
    margin: 30px 0;
}

.nav-meus-dados ul li {
    padding: 10px 0;
}

.nav-meus-dados p {
    font-size: 22px;
}

.nav-meus-dados a {
    display: inline-block;
    font-size: 22px;
    text-decoration: none;
    color: #222222;

}

.nav-meus-dados a:hover {
    color: #000;
    transition: 350ms;
    transform: scale(1.03);
}

/*corpo dados pessoais*/

.main-dados-pessoais {
    display: flex;
    min-height: calc(100vh - 3.5em);
}

.conteudo {
    padding: 30px 4%;
}

.conteudo .container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.conteudo .container form {
    width: 60%;
}

.container .form-edit input {
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-edit .input-nome {
    width: 700px;
}

.form-edit .input-email {
    width: 400px;
}

.container input[type="submit"] {
    width: 150px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 80%;
}

.container input[type="submit"]:hover {
    background-color: #45a049;
}

.container input[type="submit"]:disabled {
    background-color: rgb(163, 163, 163);
}

/* RESPONSIVIDADE */
.btn-abrir-menu {
    display: none;
    padding-right: 3%;
}

.btn-abrir-menu i {
    color: #FFFFFF;
    font-size: 32px;
}

.menu-mobile {
    background-color: var(--cor-secundaria);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0;
    overflow: hidden;
    transition: 350ms;
}

.menu-mobile.abrir-menu-mob {
    width: 60%;
}

.menu-mobile.abrir-menu-mob~.overlay-menu-mob {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 8%;
}

.menu-mobile .btn-fechar i {
    color: #fff;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;

}

.menu-mobile nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: var(--cor-principal);
}

.overlay-menu-mob {
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    display: none;
}

/*responsividade dados e perfil*/

.opcoes-mobile {
    display: none;
}

.inicio-mobile {
    display: none;
}
.container input[type="submit"].input-autoriza-edit{
    display: none;
}

@media screen and (max-width: 1200px) {

    .btn-abrir-menu {
        display: block;
    }

    nav .cabecalho__informacoes__menu {
        display: none;
    }

    .cabecalho {
        height: 12vh;
        width: 100%;
        position: fixed;
    }

    .cabecalho__logo a {
        padding: 25px;
    }

    .menu-perfil.abrir-menu {
        width: 70%;
    }

    /*responsividade dados perfil*/

    .inicio-mobile {
        display: block;
    }

    .opcoes-mobile {
        display: block;
    }

    .inicio {
        display: none;
    }

    .menu-lateral {
        display: none;
    }

    .conteudo {
        padding: 5px 4%;
        margin-top: 8vh;
        width: 80%;
    }

    .container .form-edit .input-nome {
        width: 250px;
    }

    .container .form-edit .input-email {
        width: 250px;
    }

    .conteudo .container form {
        width: 100%;
    }

    .botoes {
        display: flex;
        margin-top: 8px;
        justify-content: space-between;
    }
    .container input[type="submit"].input-autoriza-edit{
        display: block;
        width: 135px;
    }

    .container input[type="submit"] {
        width: 135px;
        margin: 0;
    }
}