.divisoria{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: var(--cor-principal);
  }

.divisoria__sobreNos{
 color: var(--cor-texto-principal);   
}

.sobreNos{
    display: flex;
    margin: 5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 8.1% 6% 6% 8.1%;
    margin-bottom: 8.8em;
}

.sobreNos__logo{
    border-radius: 10%;
    margin-left: 2em;
    margin-right: 4em;
    align-self: center;
}

.sobreNos__escrita{
   margin-top: 2em;
   font-size: 15px;
}