.divisoria{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: var(--cor-principal);
  }

.divisoria__sobreNos{
 color: var(--cor-texto-principal);   
}

.sobreNos__container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobreNos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 90%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10%
}

.sobreNos__logo{
    border-radius: 10%;
    margin-left: 2em;
    margin-right: 4em;
    align-self: center;
}

.sobreNos__escrita{
   margin-top: 2em;
   font-size: 15px;
}
/* RESPONSIVIDADE */

@media screen and (max-width: 1200px){  

    .divisoria__sobreNos{
        font-size: 30px;
        padding: 2%;
    }

    .sobreNos__container{
        height: 100%;
    }

    .sobreNos{
        margin: 8%;
        flex-direction: column-reverse;
        box-shadow: none;
        justify-content: center;
        gap: 25px;
    }
    .sobreNos__logo{
        margin: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    }
    .sobreNos__escrita{
        margin: 0;
        padding: 0;
        border: 0;
        text-align: center;
    }

}