@import url("cabecalho.css");
@import url("banner.css");
@import url("tratamentos.css");
@import url("sobrenos.css");
@import url("rodape.css");
@import url("usuario.css");
@import url("gerenciar.css");

:root{
    --cor-principal: #005632;
    --cor-secundaria: #226d4e;
    --cor-carrosel: #47DFED;
    --cor-texto-principal: #ffff;
    ;
}

*{
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
   scroll-behavior: smooth;
}