.divisoria__tratamentos {
  color: var(--cor-texto-principal);
}

.section-tratamentos{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
}

.slider {
  position: relative;
  width: 1000px;
  height: 400px;
  margin: 50px auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.849), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 20px
}

.slider-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translatex(-50%);
  z-index: 1000;
  list-style: none;
  text-align: center;
}

.slider input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #212121;
  transition: background-color 0.2s linear;
}

#btn-1:checked~.slider-controls label[for="btn-1"] {
  background-color: var(--cor-carrosel);
}

#btn-2:checked~.slider-controls label[for="btn-2"] {
  background-color: var(--cor-carrosel);
}

#btn-3:checked~.slider-controls label[for="btn-3"] {
  background-color: var(--cor-carrosel);
}

/* SLIDES */

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;

  opacity: 0;
  transform: translatex(100%);
  transition: transform 250ms linear;
}

.slide-content {
  margin-top: 40px;
  width: 400px;
}

.slide-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.slide-text {
  margin-bottom: 20px;
  text-align: justify;
}

.slide-link {
  display: inline-block;
  padding: 10px 20px;
  color: #a8a8a8;
  border-radius: 3px;
  text-decoration: none;
  background-color: var(--cor-carrosel);
}

.slide-image img {
  margin-top: 50px;
  max-width: 100%;
  margin-right: 5em;
  border-radius: 25%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  ;
}

/* Slide animations */
#btn-1:checked~.slides .slide:nth-child(1) {
  transform: translatex(0);
  opacity: 1;
}

#btn-2:checked~.slides .slide:nth-child(2) {
  transform: translatex(0);
  opacity: 1;
}

#btn-3:checked~.slides .slide:nth-child(3) {
  transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked)~.slides .slide:nth-child(1) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-2:not(:checked)~.slides .slide:nth-child(2) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-3:not(:checked)~.slides .slide:nth-child(3) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }

  50% {
    transform: translatex(-50%);
    opacity: 0;
  }

  100% {
    transform: translatex(-100%);
  }
}

.tratamentos-mobile{
  display: none;
}

.botao__retorno{
  display: none;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1200px) {
  .slider {
    display: none;
  }
  .tratamentos-mobile{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
  }
  .divisoria__tratamentos {
    font-size: 30px;
    padding: 2%;
  }
  .slide-title{
    margin: 10px 8%;
    text-align: start;
  }
  .slide-text{
    padding: 10px 6%;
    text-align: justify;
  }
  .slide-image img{
    align-self: center;
    margin: auto;
  }
  .section-tratamentos{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .botao__container{
    display: flex;
    justify-content: end;
    margin: 0 10px 10px 0;
  }
  .botao__retorno{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    width: 40px;
    height: 40px;
    background-color: var(--cor-principal);
    border-radius: 50%;
    color: var(--cor-texto-principal);
    text-decoration: none;
  }
  

}